@font-face {
  font-family: 'RobotoSlap-Bold';
  src: url("../../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondensed-Light';
  src: url("../../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-SemiBold';
  src: url("../../fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}