button{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.top-menu li a {
  position: relative;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #bf2534;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }

  &:hover::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  &.active{
    background: #bf2534;
  }
}

@media (max-width: 991px){
  .top-menu li a::before{
    background: none;
  }
}