.jumbotron{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255, .4);
  text-align: center;
  padding: 2%;
}

.about-text{
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 1);
  padding: 5%;
  text-align: left;
  right: 0;
  top: 0;
}