.welcome-section{
  padding-top: 85px;
}
.service-section,
.how-section,
.how-section{
  padding: 80px 0;
}

.service-section{
  background: #eee;
  text-align: center;
}

.about-section{
  background: url("../../img/bg-about.jpg")no-repeat;
  min-height: 600px;
  position: relative;
}

.how-section {
  background: #eee;
}